@import url(https://fonts.googleapis.com/css?family=Chewy);


body {
  /*background: url('https://images6.alphacoders.com/323/323187.jpg');*/
  background-position: center;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Chewy', sans-serif;
  text-shadow: 0px 1px 1px;
  margin: 0 auto;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.game-board {
  width:500px;
  height:500px;
  padding: 0;
  text-align: center;
}

.row {
  /*width: 150px;
  height: 150px;*/
  margin-left: auto;
  margin-right: auto;

}

.column {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: inline-block;
    margin: 0 auto;
    color: white;
    box-shadow: 7px 7px black;
    background-color: grey;
}

.column:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.column-pred {
  content: url(../img/predator2.gif);
  background-size: cover;
}

.column-alien {
  content: url(../img/bg_alien.gif);
  background-size: cover;
}
